{% load humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Ingreso</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'finanzas/detalles.css' %}">
</head>
<body>
    <h1>Detalle del Ingreso 💰</h1>

    <p><strong>Categoría:</strong> {{ ingreso.categoria }}</p>
    <p><strong>Monto:</strong> ${{ ingreso.monto|intcomma }}</p>
    <p><strong>Fecha:</strong> {{ ingreso.fecha }}</p>
    <p><strong>Descripción:</strong> {{ ingreso.descripcion }}</p>

    <a href="{% url 'inicio' %}">⬅ Volver</a>
</body>
</html>
